
.scroll-btn{
position: fixed;
bottom: 50px;
right: 50px;
height: 40px;
width: 40px;
border-radius: 50px;
font-size: 20px;
text-align: center;
align-items: center;
justify-content: center;
display: flex;
background-color: #ff5823;
color:white;
border: none;

}
.scroll-btn:hover{
    color: #1f2235;
    border-style: solid;
    border-color: #1f2235;
    border-width: 1px;
}
